/* adding fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --clipPathStart: 0% 30%;
  --clipPathEnd: 100% 30%;
  --accentColor: #70e000;
  --lightAccentColor: #a3ff47;
}
.width-calculator {
  width: calc(100% - 200px);
}
.width-data-manager {
  width: calc(100% - 100px);
  margin-left: 100px;
}
.main-data-manager {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* reasonable */
/* clip-path: polygon(0 30%, 16% 36%, 37% 39%, 54% 36%, 74% 29%, 93% 34%, 100% 40%, 100% 99%, 0% 99%); */

.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  gap: 5px;
}
.monitor {
  border-right: 1px #d6d6d6 solid;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  height: 100%;
}

body ::-webkit-scrollbar {
  display: none;
}

@media (max-width: 900px) {
  .main {
    display: block;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* .Screen{
    display: flex; 
}
.Header-body{
    min-width: calc(100vw - 100px);
    padding: .7rem 1.2rem;
    display: flex;
    min-height: 100vh;
    flex-direction: column; 
} */
